<h2>Service Purchases</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Service Group</th>
            <th>Service Option</th>
            <th>Purchased On</th>
            <th>Confirmed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for sp in servicePurchases %}
        <tr>
            <td><a href="{{ url_for('.service_groups_view', hotel_id=hotel_id, service_group_id=sp['ServiceOption']['service_group_id']) }}">{{ serviceGroups[sp['ServiceOption']['service_group_id']] }}</a></td>
            <td><a href="{{ url_for('.service_options_view', hotel_id=hotel_id, service_option_id=sp['ServiceOption']['id']) }}">{{ sp['ServiceOption']['name'] }}</a></td>
            <td>{{ sp['ServicePurchase']['created'] }}</td>
            <td>{{ sp['ServicePurchase']['confirmed'] | bool_to_badge }}</td>
            <td><a href="{{ url_for('.service_purchases_view', hotel_id=hotel_id, service_purchase_id=sp['ServicePurchase']['id']) }}">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
