{% extends "admin/hotel/layout.html" %}
{% block title %}{{ hotel.name }} - Printers{% endblock %}
{% block body %}
<table id="table-printers" class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>State</th>
      <th>URI</th>
      <th>Location</th>
    </tr>

    <tbody>

  {% for printer in printers %}
  <tr data-id="{{ printer | escape }}" data-url="{{ url_for('.printer_view', hotel_id=hotel_id, printer_id=printer) | escape}}">
    <td>{{ printer }}</td>
    <td>{{ printers[printer]['printer-info'] }}</td>
    <td>{{ printers[printer]['printer-state-message'] }}</td>
    <td>{{ printers[printer]['printer-uri-supported'] }}</td>
    <td>{{ printers[printer]['printer-location'] }}</td>
  </tr>
  {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $('#table-printers tbody tr').click(function(e){
        var url = $(this).data('url');
        if (url === 'undefined') {
            return;
        }
        window.location.href = url;
    });
</script>
{% endblock %}
