{% extends "admin/hotel/layout.html" %}
{% block title %}{{ hotel.name }} - Print Jobs -  {% endblock %}
{% block body %}
<table id="table-print-jobs" class="table table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Printer URI</th>
      <th>Creation</th>
      <th>Processing</th>
      <th>Completion</th>
      <th>State</th>
      <th>State Reasons</th>
      <th>Cancel</th>

    </tr>

    <tbody>

  {% for job in jobs %}
  <tr >
    <td>{{ job }}</td>
    <td>{{ jobs[job]['printer-uri'] }}</td>
    <td>{{ jobs[job]['time-at-creation'] }}</td>
    <td>{{ jobs[job]['time-at-processing'] }}</td>
    <td>{{ jobs[job]['time-at-completed'] }}</td>
    <td>{{ jobs[job]['job-state'] }}</td>
    <td>{{ jobs[job]['job-state-reasons'] }}</td>
    <td><a class="btn" href="{{ url_for('.printers_cancel_job', hotel_id=hotel_id, job_id=job) }}">Cancel</a></td>
  </tr>
  {% endfor %}
    </tbody>
</table>
{% endblock %}
