<h2>Print Jobs</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Title</th>
            <th>Printed</th>
            <th>Print Count</th>
            <th>Deleted</th>
        </tr>
    </thead>
    <tbody>
        {% for p in stayPrintJobs %}
        <tr>
            <td></td>
            <td>{{ p['StayPrintjob']['title'] }}</td>
            <td>{{ p['StayPrintjob']['printed'] }}</td>
            <td>{{ p['StayPrintjob']['print_count'] }}</td>
            <td>{{ p['StayPrintjob']['deleted'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
