{% import 'elements/form_errors.html' as formErrorElement %}
<h2>Technicians</h2>
<div class="well span4">
    <form class="form-horizontal" method="POST" action="{{ url_for('.technicians_edit', hotel_id=hotel_id, technician_id=technician['Technician']['id']) }}">
        <fieldset>
            <legend>Modifying {{ form.name.data }}</legend>
            {{ formErrorElement.display(form) }}
            {{ form.csrf_token }}
            <div class="control-group">
                {{ form.name.label(class='control-label') }}
                <div class="controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="control-group">
                {{ form.login.label(class='control-label') }}
                <div class="controls">
                    {{ form.login }}
                </div>
            </div>
            <div class="control-group">
                {{ form.active.label(class='control-label')}}
                <div class="controls">
                    {{ form.active}}
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </fieldset>
    </form>
</div>
