{% import 'elements/form_errors.html' as formErrors %}
<h2>Printer Configurations</h2>
<div class="well span4">
    <form class="form-horizontal" method="POST" action="{{ url_for('.printer_configurations_edit', hotel_id=hotel_id, printer_configuration_id=printerConfiguration['PrinterConfiguration']['id']) }}">
        <fieldset>
            <legend>Editing {{ form.name.data }}</legend>
            {{ formErrors.display(form) }}
            {{ form.csrf_token }}
            <div class="control-group">
                {{ form.name.label(class='control-label') }}
                <div class="controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="control-group">
                {{ form.configuration.label(class='control-label') }}
                <div class="controls">
                    {{ form.configuration }}
                </div>
            </div>
            <div class="control-group">
                {{ form.description.label(class='control-label') }}
                <div class="controls">
                    {{ form.description }}
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
        </fieldset>
    </form>
</div>

