{% import 'elements/form_errors.html' as formErrors %}
<h2>Service Groups</h2>

<div class="well span4">
    <form class="form-horizontal" method="POST" action="{{ url_for('.service_groups_edit', hotel_id=hotel_id,service_group_id=serviceGroup['ServiceGroup']['id']) }}">
        <legend>Editing Service Group {{ serviceGroup['ServiceGroup']['name'] }}</legend>
        {{ formErrors.display(form) }}
        <fieldset>
            {{ form.csrf_token }}

            <div class="control-group">
                {{ form.name.label(class='control-label') }}
                <div class="controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="control-group">
                {{ form.description.label(class='control-label') }}
                <div class="controls">
                    {{ form.description }}
                </div>
            </div>
            <div class="control-group">
                {{ form.active.label(class='control-label') }}
                <div class="controls">
                    {{ form.active }}
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
        </fieldset>
    </form>
</div>
